<!DOCTYPE HTML>
<html>
<head>
  <title>SARS Queue Graphs | Gareth Dwyer</title>
 <script type="text/javascript" src="/static/canvasjs.min.js" defer></script>
<script type="text/javascript">
window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer", {
    theme: "theme2",
    title:{
      text: "Recent Queue lengths"              
    },
    animationEnabled: true,
    data: [              
    {
      type: "column",
      dataPoints: [
        {% for tuple in data %}            
          { label: "{{tuple.date}}",  y: {{tuple.people}} }
          {% if not loop.last %} , {% endif %}
        {% endfor %}
      ]
    }
    ]
  });
  chart.render();
}
</script>
</head>
<body>
<h1>Recent Queue lengths at SARS, Cape Town</h1>
<p>Mouse over a bar to view exact time and length</p>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>